body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
#cal_table {
    border: 3px solid black;
    width: 300px;
    height: 300px;
    margin: auto;
    border-collapse: collapse;
}
#cal_table tr, #cal_table tr th, #cal_table tr td {
    border: 3px solid black;
}
#cal_head {
    height: 25px;
    font-family: monospace;
}

.day1, .day3, .day5, .day7 {
    background-color: #dfdfdf;
}
.day2, .day4, .day6 {
    background-color: #bfbfbf;
}
.week {
    height: calc(45px + (1px / 3));
}
.event {
    width: 5px;
    height: 5px;
    margin: auto;
    display: inline-block;
}
.event_spacer {
    width: 2px;
    height: 5px;
    margin: auto;
    display: inline-block;
}
.event_rise {
    width: 0px;
    height: 5px;
    margin: auto;
    display: inline-block;
}